$padding: 20px;
$textColor: #686868;
$brandColor: #3367d6;

@mixin displayFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}

header {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: $padding;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;

    .header_top {
        @include displayFlex;
        h3 {
            padding-left: $padding;
            color: $textColor;
        }
        img {
            width: 80px;
        }
    }

    .header_bottom {
        ul {
            @include displayFlex;
            li {
                padding-right: $padding;
                color: $textColor;
                padding-bottom: 3px;
            }
            
        }
        ul li:last-child {
            color: $brandColor;
            border-bottom: 3px solid $brandColor; 
            padding-right: 0;
        }
    }

}

main {
    width: 70%;
    margin: 0 auto; 
    padding: 150px 0 60px 0;

    h2 {
        padding: 40px 0 20px 0;
    }
}